/*{

	margin: 0;

	padding: 0;

	font-family: sans-serif;

	box-sizing: border-box;

}
*/
body{

	/*//height: 100vh;

	//display: flex;

	//justify-content: center;

	//align-items: center;*/

	background: linear-gradient(25deg, #8600b3 50%, #cc33ff 50%);

}

/*h1{

	position: absolute;

	top: 30%;

	font-size: 60px;

	color: white;

}*/

#header nav ul li .box{

	width: 210px;

	height: 20px;

	background-color:aqua;

	border-radius: 30px;

	display: flex;

	align-items: center;

	padding: 20px;

}
#header nav ul li .box > i {

	font-size: 20px;

	color: rgb(224, 76, 7);

}

#header ul nav li .box > input{

	flex: 1;

	height: 40px;

	border: none;

	outline: none;

	font-size: 18px;

	padding-left: 10px;


}